

*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

/* Основные блоки */
/* Не входите в мой сарай */

.header{
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgb(50, 100, 200);
    float: left;
    z-index: 10;
    color: white;
}

.wrapper{
    width: 100%;
    min-height: 800px;
    float: left;
    margin-top: 100px;
}

.footer{
    width: 100%;
    height: 200px;
    background: rgb(50, 100, 200);
    float: left;
    display: flex;
}

.main{
    position: relative;
    max-width: 1300px;
    height: fit-content;
    margin: auto;
}

.content{
    position: relative;
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.separate_block{
    width: 50%;
    height: fit-content;
    float: left;
}

.drop_down_menu{
    position: fixed;
    width: 100%;
    height: 500px;
    background: rgb(50, 100, 200);
    margin-top: 100px;
    z-index: 10;
    overflow: hidden;
    color: white;
    font-size: 14pt;
}

/* содержимое шапки header */

.header div{
    height: 100%;
}

.header .content{
    height: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header button{
    width: fit-content;
    height: 60px;
    background: transparent;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header button:hover{
    transform: translate(0px, -5px);
}

.header button i{
    font-size: 24pt;
    background: rgb(29, 76, 170);
}

/* содержимое выпадающего меню  drop_down_menu */

.drop_down_menu .content{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
}

.drop_down_menu .content *{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    margin-left:  30px;
}

.drop_down_menu .content a{
    margin-left: 0px;
    text-decoration: none;
    color: white;
}

.drop_down_menu ul{
    float: left;
    width: 300px;
    margin-left: 20px;
    font-weight: bold;
}

.drop_down_menu li{
    width: 100%;
    margin-top: 20px;
    text-transform: capitalize;
}

.drop_down_menu li:hover{
    transform: translate(0, -5px);
}

/* содержимое wrapper */

.wrapper .content{
    background: white;
}

/* содержимое footer */

.footer content{
    justify-content: flex-start;
}

/* формы */

.main_form_separator{
    width: calc(100%/2);
    height: fit-content;
    float: left;
    margin-top: 10px;
}

.main_form_separator select , input{
    width: 90%;
    margin: auto;
    height: 50px;
    border: 2px solid rgb(50, 100, 200);
}
.main_form_separator select *{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14pt;
}

.file_input_container{
    position: relative;
    width: 100%;
    height: 50px;
}

.file_input_container *{
    position: absolute;
    width: 100%;
    height: 100%;
}



/* вспомогательные */

.title{
    font-size: 24pt;
}

.height100{
    height: 100%;
}

.height0{
    height: 0px;
}

.vertical_center{
    display: flex;
    align-items: center;
}

.uppercase{
    text-transform: uppercase;
}

@media (max-width: 620px){
    .wrapper{
        width: 100%;
    }

    /* содержимое выпадающего меню */

    .drop_down_menu{
        overflow: scroll;
    }
    
    .drop_down_menu .content{
        width: 100%;
    }

    .drop_down_menu ul{
        width: 90%;
    }

    .main_form_separator{
        width: 100%;
    }

    .main_form_separator select{
        width: 100%;
    }
    
    .main_form_separator input{
        width: 100%;
    }
}

